
.button-container{
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.row{
    display: flex;
    gap: 2rem;
}

button{
    height: 100px;
    width: 100px;
    padding: 50px;
    background-color: #e8e7eb;
    color: #0c0c0d;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    border: none;
}
.icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
    gap: 20px;
    justify-content: center;
}
.soundwave-container {
    background-color: #e5e5e5;
    border-radius: 10px;
    width: 80px;
    height: 50px;
       display: flex;
    justify-content: center;
    align-items: center;
}
.soundwave{
    width: 50px;
    height: 50px;
 
}
.recording-container {
    background-color: tomato;
    border-radius: 10px;
    width: 50px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.recording{
    width: 50px;
    height: 30px;
}
.settings{
    width: 40px;
    height: 40px;
}

